spring:
  application:
    name: datastar-spring-mvc
  threads:
    virtual:
      enabled: true

server:
  port: 8080

management:
  server:
    port: 9080
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  info:
    java.enabled: true
    env.enabled: true
  observations:
    annotations:
      enabled: true

gg:
  jte:
    use-precompiled-templates: true
    localizer:
      inject: true

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%kvp{}]%n"
  level:
    '[org.apache.catalina.core.ContainerBase]': OFF