nav>h1 {
    margin-bottom: 0;
    padding-top: 10px;
}

#connections {
    background-color: #018CD4;
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.8rem;
}

.hidden {
    display: none;
}

#counter article {
    background-color: #018CD4;
    color: white;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 10rem;
}

article.todo {
    background-color: #d1e5fb;
    display: flex;
}

article.todo div:first-child {
    flex-grow: 1;
}

article.todo div:last-child {
    display: flex;
    gap: 0.2rem;
}

button.material-icons {
    padding: 0.1rem;
}